@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea {
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
  color: #434343;
  background-color: #ebebeb;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-size: 100%;
  font-weight: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #666;
  background: none;
}
ul,
ol {
  list-style: none;
}
:focus {
  outline: none;
}
/*原子类*/
.mt10 {
  margin-top: 10px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.d_ib {
  display: inline-block;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.ov_h {
  overflow: hidden;
}
.ta_c {
  text-align: center;
}
.pos_r {
  position: relative;
}
.pos_a {
  position: absolute;
}
.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ell_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.border_tr {
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.border_rb {
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.public_r {
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #fff;
}
/*头部*/
.head {
  border-top: solid #ff6699 4px;
  border-bottom: solid #ebebeb 1px;
  width: 100%;
  height: 100px;
  background-color: #fff;
}
.head_content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 100px;
  overflow: hidden;
}
.head_logo {
  position: absolute;
  left: 0;
  top: 24px;
  display: block;
  width: 172px;
  height: 41px;
}
.head_logo img {
  display: block;
  width: 100%;
}
.head_search {
  position: absolute;
  left: 240px;
  top: 24px;
  width: 472px;
  overflow: hidden;
}
.head_search_con {
  overflow: hidden;
}
.head_search_con .input {
  box-sizing: border-box;
  background-color: #f4f4f4;
  height: 35px;
  line-height: 35px;
  float: left;
  width: 380px;
  border: 1px solid #e8e8e8;
  border-right: 0;
  display: block;
  padding: 0 5px;
}
.head_search_con .btn {
  background-color: #ff6699;
  height: 35px;
  line-height: 35px;
  float: left;
  color: #fff;
  width: 80px;
  border: 1px solid #f25489;
  display: block;
  font-size: 18px;
  cursor: pointer;
}
.head_search_hot {
  overflow: hidden;
  margin-top: 10px;
}
.head_search_hot span {
  display: block;
  float: left;
}
.head_search_hot .words {
  float: left;
}
.head_search_hot a {
  display: block;
  margin-left: 10px;
  float: left;
}
.head_search_hot a:hover {
  color: #ee4e84;
}
.head_right {
  float: right;
  margin-top: 30px;
  font-size: 16px;
}
.head_right a {
  margin-right: 20px;
  display: inline-block;
}
.head_right a:hover {
  color: #ee4e84;
}
.head_right i {
  display: inline-block;
  background: url("images/icon.png") no-repeat;
  vertical-align: top;
  margin: 3px 10px 0 0;
}
.head_right .icon_m {
  background-position: 0 0;
  width: 13px;
  height: 18px;
  overflow: hidden;
}
.head_right .icon_s {
  background-position: 0 -19px;
  width: 21px;
  height: 17px;
  overflow: hidden;
}
.nav_wrap {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  padding-bottom: 20px;
}
.nav_wrap_content {
  width: 1000px;
  margin: 0 auto;
}
.nav_wrap_content dl {
  width: 199px;
  margin-right: 1px;
  float: left;
}
.nav_wrap_content dt {
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
}
.nav_wrap_content dt a {
  display: block;
}
.nav_wrap_content dt a:hover {
  color: #fff;
}
.nav_wrap_content .nav_1 a {
  color: #ee4e84;
  border-bottom: 3px solid #ee4e84;
}
.nav_wrap_content .nav_1 a:hover {
  background-color: #ee4e84;
}
.nav_wrap_content .nav_2 a {
  color: #e64a55;
  border-bottom: 3px solid #e64a55;
}
.nav_wrap_content .nav_2 a:hover {
  background-color: #e64a55;
}
.nav_wrap_content .nav_3 a {
  color: #58b5d7;
  border-bottom: 3px solid #58b5d7;
}
.nav_wrap_content .nav_3 a:hover {
  background-color: #58b5d7;
}
.nav_wrap_content .nav_4 a {
  color: #e59732;
  border-bottom: 3px solid #e59732;
}
.nav_wrap_content .nav_4 a:hover {
  background-color: #e59732;
}
.nav_wrap_content .nav_5 a {
  color: #8dc13b;
  border-bottom: 3px solid #8dc13b;
}
.nav_wrap_content .nav_5 a:hover {
  background-color: #8dc13b;
}
.nav_wrap_content dd {
  margin: 10px 10px 0;
}
.nav_wrap_content dd a {
  line-height: 25px;
  float: left;
  font-size: 16px;
  margin: 0 5px;
}
.nav_wrap_content dd a:hover {
  color: #ee4e84;
}
.footer {
  color: #969696;
  width: 100%;
  background-color: #fff;
  padding: 20px 0 70px;
  margin-top: 15px;
  text-align: center;
}
.footer_content {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.footer_content .links {
  overflow: hidden;
  margin-bottom: 10px;
}
.footer_content .links a {
  display: inline-block;
  color: #797979;
}
.footer_content span {
  display: inline-block;
  color: #e0e0e0;
  margin: 0 5px 0 10px;
}
.footer_content .words {
  position: relative;
}
.footer_content .words:after {
  position: absolute;
  content: "";
  background: url("images/icon.png") no-repeat 0 -35px;
  width: 20px;
  height: 22px;
}
.main {
  width: 1000px;
  margin: 20px auto 0;
  overflow: hidden;
}
.main_left {
  overflow: hidden;
  width: 680px;
  float: left;
}
.main_right {
  width: 300px;
  float: right;
  overflow: hidden;
}
/*公共左侧有小标题 */
.public_box_list {
  overflow: hidden;
  padding: 20px 8px 0 12px;
}
.public_box_list li {
  width: 320px;
  float: left;
  margin: 0 5px 10px;
  height: 30px;
  line-height: 30px;
}
.public_box_list a {
  display: block;
  float: left;
}
.public_box_list .l {
  height: 20px;
  line-height: 20px;
  width: 60px;
  text-align: center;
  border: 1px solid #58b5d7;
  color: #58b5d7;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 10px;
}
.public_box_list .r {
  width: 248px;
  height: 22px;
  line-height: 22px;
  display: block;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}
.public_box_list a:hover {
  color: #ee4e84;
  border-color: #ee4e84;
}
.public_box_list .r:hover {
  color: #58b5d7;
}
/*右侧公共列表带图的*/
.public_right_pic {
  overflow: hidden;
  margin: 10px 0 5px;
  padding: 0 10px;
}
.public_right_pic a {
  display: block;
  width: 130px;
  overflow: hidden;
  text-align: center;
  float: left;
  margin: 0 5px 5px;
}
.public_right_pic a:hover {
  color: #ee4e84;
}
.public_right_pic img {
  display: block;
  width: 100%;
}
.public_right_pic p {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*右侧公共列表*/
.public_right_list {
  padding: 0 20px 10px;
  overflow: hidden;
}
.public_right_list a {
  font-size: 16px;
  display: block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.public_right_list a:hover {
  color: #ee4e84;
}
/*公共右侧黄历*/
.public_r_date {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 15px 15px 5px;
}
.public_r_date .lhl {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #ee4e84;
}
.public_r_date .lhl:hover {
  text-decoration: underline;
}
.public_rd_top .l {
  width: 100px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.public_rd_top .l_t {
  background-color: #ee4e84;
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.public_rd_top .l_c {
  background-color: #f9f9f9;
  color: #ee4e84;
  height: 90px;
}
.public_rd_top .l_c span {
  font-size: 48px;
  line-height: 60px;
}
.public_rd_top .r {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  width: 80px;
  line-height: 30px;
  font-size: 16px;
}
.public_rd_con {
  padding-top: 15px;
  overflow: hidden;
}
.public_rd_con li {
  overflow: hidden;
  margin-bottom: 10px;
}
.public_rd_con span {
  background: url("images/icon.png") no-repeat;
  width: 31px;
  height: 30px;
  display: block;
  overflow: hidden;
  float: left;
}
.public_rd_con span.yi {
  background-position: 0 -57px;
}
.public_rd_con span.ji {
  background-position: 0 -87px;
}
.public_rd_con .info {
  width: 230px;
  float: right;
}
/*公共右侧2018星座运势*/
.public_mr_xzys {
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
}
.public_mr_xzys a {
  display: block;
  float: left;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #ee4e84;
  width: 99px;
  font-size: 16px;
}
.public_mr_xzys a:nth-child(3n) {
  border-right: 0;
}
.public_mr_xzys a:hover {
  background-color: #ee4e84;
  color: #fff;
}
/*公共右侧大师*/
.public_mr_master {
  overflow: hidden;
  padding: 10px;
}
.public_mr_master a {
  display: block;
  float: left;
  width: 120px;
  height: 35px;
  line-height: 35px;
  margin: 0 10px 10px;
}
.public_mr_master a:hover {
  color: #ee4e84;
}
.public_mr_master span {
  background: url("images/icon_master.png") no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
}
.public_mr_master .master_01 {
  background-position: 0 0;
}
.public_mr_master .master_02 {
  background-position: -35px 0;
}
.public_mr_master .master_03 {
  background-position: 0 -35px;
}
.public_mr_master .master_04 {
  background-position: -35px -35px;
}
.public_mr_master .master_05 {
  background-position: 0 -70px;
}
.public_mr_master .master_06 {
  background-position: -35px -70px;
}
.public_mr_master .master_07 {
  background-position: 0 -105px;
}
.public_mr_master .master_08 {
  background-position: -35px -105px;
}
.public_mr_master .su {
  background-position: 0 0 ;
}
.public_mr_master .alex {
  background-position: 0 -140px;
}
.public_mr_master .jiduo {
  background-position: -35px -140px;
}
.public_mr_master .asha {
  background-position: 0 -105px;
}
.public_mr_master .mafa {
  background-position: 0 -175px;
}
.public_mr_master .zhanxing {
  background-position: -35px -105px;
}
.public_mr_master .xingba {
  background-position: 0 -70px;
}
.public_mr_master .haibaihe {
  background-position: -35px -175px;
}
.public_mr_master .zhang {
  background-position: 0 -210px;
}
.public_mr_master .xiaoguai {
  background-position: -35px -210px;
}
.public_mr_master .peini {
  background-position: -35px -35px;
}
.public_mr_master .julia {
  background-position: 0 -245px;
}
.public_mr_master .lvke {
  background-position: -35px -245px;
}
.public_mr_master .ruoye {
  background-position: 0 -280px;
}
.public_mr_master .eskey {
  background-position: -35px -280px;
}
