<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tabbar_title</key>
		<string>首页</string>
		<key>navigation_title</key>
		<string>彩神榜</string>
		<key>nornal_img</key>
		<string>home_nornal</string>
		<key>selected_img</key>
		<string>home_select</string>
		<key>class_name</key>
		<string>LCHomeMainVC</string>
	</dict>
	<dict>
		<key>tabbar_title</key>
		<string>竞猜</string>
		<key>navigation_title</key>
		<string>竞猜</string>
		<key>nornal_img</key>
		<string>jincai_nornal</string>
		<key>selected_img</key>
		<string>jincai_select</string>
		<key>class_name</key>
		<string>LCGuessMainVC</string>
	</dict>
	<dict>
		<key>tabbar_title</key>
		<string>我的</string>
		<key>navigation_title</key>
		<string>我的</string>
		<key>nornal_img</key>
		<string>me_nornal</string>
		<key>selected_img</key>
		<string>me_select</string>
		<key>class_name</key>
		<string>LCUserMainVC</string>
	</dict>
</array>
</plist>
