<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>LCUserMessageVC</string>
		<key>icon</key>
		<string>user_user_icon</string>
		<key>title</key>
		<string>个人资料</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_room_icon</string>
		<key>title</key>
		<string>我的空间</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_order_icon</string>
		<key>title</key>
		<string>历史订单</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
	<dict>
		<key>detail</key>
		<string>管理账号资金</string>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_wallet_icon</string>
		<key>title</key>
		<string>钱包</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>做任务赢银币</string>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_renwu_icon</string>
		<key>title</key>
		<string>任务</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>管理我的团队</string>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_teem_icon</string>
		<key>title</key>
		<string>团队</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_about_icon</string>
		<key>title</key>
		<string>关于彩神榜</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>user_service_icon</string>
		<key>title</key>
		<string>联系客服</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
</array>
</plist>
