<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>actId</key>
		<string>1</string>
		<key>icon</key>
		<string>dcx_ico</string>
		<key>actTitle</key>
		<string>大抢单</string>
		<key>detail</key>
		<string>使用场景介绍</string>
	</dict>
	<dict>
		<key>actId</key>
		<string>0</string>
		<key>icon</key>
		<string>qfd_ico</string>
		<key>actTitle</key>
		<string>抢饭点</string>
		<key>detail</key>
		<string>使用场景介绍</string>
	</dict>
	<dict>
		<key>actId</key>
		<string>2</string>
		<key>icon</key>
		<string>jidian_ioc</string>
		<key>actTitle</key>
		<string>集点</string>
		<key>detail</key>
		<string>使用场景介绍</string>
	</dict>
</array>
</plist>
