<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>收入金额</string>
		<key>detaititle</key>
		<string>已收入￥0.00</string>
		<key>icon</key>
		<string>cashier_income</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收银台卡</string>
		<key>detaititle</key>
		<string>收银台卡二维码</string>
		<key>icon</key>
		<string>cashier_card</string>
	</dict>
	<dict>
		<key>title</key>
		<string>营销活动</string>
		<key>detaititle</key>
		<string>详情营销活动</string>
		<key>icon</key>
		<string>cashier_active</string>
	</dict>
	<dict>
		<key>title</key>
		<string>会员管理</string>
		<key>detaititle</key>
		<string>会员管理列表</string>
		<key>icon</key>
		<string>cashier_cashiers</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公告</string>
		<key>detaititle</key>
		<string>商铺公告详细</string>
		<key>icon</key>
		<string>cashier_notice</string>
	</dict>
</array>
</plist>
