<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>姓名</string>
	<string>电话</string>
	<string>密码</string>
	<string>确认密码</string>
	<string>收入</string>
	<string>流水</string>
	<string>营销活动</string>
	<string>会员</string>
</array>
</plist>
