<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class_name</key>
	<string>PPSSPersonHomeVC</string>
	<key>selected_img</key>
	<string>tabbar3_s</string>
	<key>nornal_img</key>
	<string>tabbar3_n</string>
	<key>navigation_title</key>
	<string>个人中心</string>
	<key>tabbar_title</key>
	<string>我的</string>
</dict>
</plist>
